.carrito{          
    padding-right: 20px;
    width: 40px;     
}
.boton_carrito{
    background-color: lightblue;
    width: 90px;
    height: 55px;
}
text{
    color: black;
    font-size: 30px;
}
.menu_carrito{    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;    
}
a {
    width: 100px;
}