.carrito{          
    padding-right: 20px;
    width: 50px;
    
    
}
text{
    color: aqua;
    font-size: 30px;
}
.menu_carrito{
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

}

