.CardItem {
    width: 160px;
    padding: 30px;
    margin: 30px;
    font-size: 10px;
    background-color: lightskyblue;
    border: 1px solid black;
    border-radius: 10px;
}
.Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
}
.ItemHeader {
    display: flex;
    justify-content: center;
}
.Info {
    font-size: 15px;    
    display: flex;
    justify-content: space-around;
}
.ItemImg {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
}
.ItemFooter {
    display: flex;
    justify-content: center;
}