.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(54, 31, 185) !important;
    width: 100%;    
}
.form-horizontal{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding-top: 30px;
}
.col-md-6{
    text-align: left;
}
h6{
    text-align: right;
    padding: 20px;
}
button{
    padding: 15px !important;
    font-size: 12px;
}
.btn{
    background: rgb(54, 31, 185) !important;
}